*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}

.option-margin{
    margin-right: 10px;
}
.title{
    font-family: 'Zen Antique Soft', serif;
}
.background-img{
    background-image: linear-gradient(rgba(61, 152, 255, 0.685), rgba(45, 88, 197, 0.781), rgb(30, 69, 128));
    height: 100vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}