*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}

.option-margin{
    margin-right: 10px;
}
.title{
    font-family: 'Zen Antique Soft', serif;
}
.background-img{
    background: url("../img/background-1.jpg");
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}