{% extends 'base.html' %}

{% block content %}


<div class="container">

    <div class="jumbotron">
        <h1 class="display-4 text-center"><p style = "font-family: 'Black Ops One', cursive;">Lobster</h1></p>

        <p class="lead">
            <p style = "font-family: 'Merriweather', serif;">
            Lobster es una aplicación web dirigida a cualquier persona que le gusten los videojuegos y que quiera jugar con alguien o hablar sobre su juego favorito, glitches, speedrun, trucos, etc, por lo cual a través de esta página web podrás ver distintos tipos de anuncios relacionados a videojuegos y si te interesa alguno podrás establecer comunicación directa mediante un chat con la persona que creo ese anuncio y varios más solamente en un click.
            </p>  
            <p style = "font-family: 'Merriweather', serif;">
            El objetivo principal de Lobster es hacer mejorar la salud mental de las personas creando un espacio agradable en donde la gente fan por los videojuegos pueda interactuar con todo tipo de gente y a la vez hacerlos sentir más acompañados, sanos y cómodos.
            </p>      
        </p>



        {% if user.is_authenticated %}

        <a class="btn btn-danger btn-lg" href="{% url 'account_logout' %}">Salir</a>
        <a class="btn btn-warning btn-lg" href="{% url 'index' %}">Ver posts</a>

        {% else %}
        <a class="btn btn-success" href="{% url 'account_login' %}">Ingresar</a>
        <a class="btn btn-primary" href="{% url 'account_signup' %}">Registrarse</a>

        {% endif %}


        
    </div>
</div>
{% endblock content %}